
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  background-image: url('img/background.image.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #fff; 
}

.hero p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.media-icons {
  text-align: center;
  margin-top: 20px;
}

.media-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.media-icons a:hover {
  color: #555;
}

.menu {
  padding: 20px 0; 
  background-image: url('img/menu_background.avif');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.menu h2 {
  margin-bottom: 20px;
  color: hsl(12, 12%, 92%); 
  font-size: 36px; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.menu-item {
  width: calc(33.33% - 40px); 
  margin: 20px;
  padding: 20px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  background-color: #fff;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  margin-top: 10px; 
}

.menu-item p {
  color: #666; 
}

.menu-item span {
  font-weight: bold;
  color: #333; 
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: #555;
}

.order-button-container {
  text-align: center; 
  margin-top: 20px; 
}

.order-button {
  padding: 15px 30px; 
  background-color: #333; 
  color: #fff;
  border: none; 
  border-radius: 5px; 
  font-size: 20px;
  text-decoration: none;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #555; 
}


.about {
  padding: 80px 0;
  background-color: #f9f9f9;
  background-image: url(img/menu_background.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
  color: floralwhite;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text {
  width: 45%;
  margin: 20px;
}

.about-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(235, 224, 224); 
}

.about-text p {
  color: #f5f1f1;
  line-height: 1.6;
}

.go-back-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0; 
}

.go-back-button:hover {
  background-color: #555;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url(img/menu_background.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #002869;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
